/* ==================== RESET ==================== */

*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    font: inherit;
}

img{
    display: block;
}

/* ==================== TOKENS ==================== */

:root{
    /* Font sizes */
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.75rem;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-semi: 500;
    --font-weight-bold: 700; 

    /* Spacing */
    --space-small: 0.5rem;
    --space-medium: 1rem;
    --space-large: 1.5rem;

    /* Border radius */
    --radius-small: 8px;

    /* Shadows */
    --shadow-lift-light: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    --shadow-lift-regular: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    --shadow-lift-heavy: 0 2px 2px 0 rgba(0, 0, 0, 0.25);

    --shadow-light: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    --shadow-regular: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    --shadow-heavy: 0 0 8px 0 rgba(0, 0, 0, 0.25);

    /* Colors */
    --color-bg-base: #fbfaf8;
    --color-neutral-900: black;
    --color-neutral-600: gray;
    --color-neutral-200: lightgray;
    --color-neutral-100: white;

    --color-accent: #3b84cc;
    --color-success: #11e245;
    --color-danger: #e21111;

    /* Priority Colors */
    --color-P0: #D64545;
    --color-P1: #E67E22;
    --color-P2: #daa411;
    --color-P3: #4A90E2;
    --color-P-low: #9AA4AE;

}

/* ==================== LAYOUT ==================== */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: stretch;


    background-color: var(--color-bg-base);

    
    font-family: 'Inter', system-ui, sans-serif;
    font-size: 1rem;
}

body > header{
    font-size: var(--font-size-large);

    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--space-medium);
}

main{
    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, minmax(500px, 1fr));
    gap: var(--space-large);

    padding: 0 var(--space-large);
}

main section{
    display: flex;
    flex-direction: column;

    box-shadow:var(--shadow-light);
}

section > header{
    font-size: var(--font-size-large);

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;

    padding-bottom: var(--space-small);
    border-bottom: 1px solid var(--color-neutral-900);
    margin-bottom: var(--space-medium);
}

.list-container{
    display: flex;
    flex-direction: column;

    gap: var(--space-small);
}

.list-container .list-item{
    --active-color: var(--color-neutral-600);

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 50px;
    gap: var(--space-small);

    padding: var(--space-small);
    border-radius: var(--radius-small);
}

.list-item:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.list-item.active{
    outline: 2px solid var(--active-color);
}

.list-container .list-item :last-child{
    margin-inline-start: auto;
}

.list-item p{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}


.tool-list{
    display: flex;
    justify-content: stretch;
    gap: var(--space-small);
}

.tool-list button{
    flex: 1;
}

.list-item .tool-list{
    visibility: hidden;
}

.list-item:hover .tool-list,
.list-item:focus .tool-list,
.list-item:focus-visible .tool-list{
    visibility: visible;
}

section{
    padding: var(--space-large);
    border-radius: var(--radius-small) var(--radius-small) 0 0;

    background-color: var(--color-neutral-100);
}

ul{
    list-style: none;
    padding: 0;
}

.details-container:empty::before{
    content: "Select a task to view details";
}

.list-container:empty::before,
.details-container:empty::before{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.create-button{
    background: none;
    padding: var(--space-small);

    font-size: var(--font-size-normal);

    border-radius: var(--radius-small);

    border: 1px solid var(--color-neutral-200);

    gap: var(--space-small);
}

button.create-button:hover{
    box-shadow: var(--shadow-light);
}

button.create-button,
button.create-button .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.create-button .icon{
    color: var(--color-accent);
}

/* Projects */

.project-item button{
    border: 0;
    background: none;
}

.project-item button svg{
    color: var(--color-neutral-200);
}

.project-item button:disabled{
    visibility: hidden;
}

.project-item button:hover:not(:disabled) svg{
    color: var(--color-neutral-900);
}

.project-item.active{
    border-left: 5px solid var(--active-color);
    --active-color: var(--color-accent);
}

/* Task */

.list-item.task-item.task-P0{
    --active-color: var(--color-P0);
}


.list-item.task-item.task-P1{
    --active-color: var(--color-P1);
}

.list-item.task-item.task-P2{
    --active-color: var(--color-P2);
}

.list-item.task-item.task-P3{
    --active-color: var(--color-P3);
}

.list-item.task-item{
    --active-color: var(--color-P-low);
    border-left: 5px solid var(--active-color);
}

.task-item .status-indicator{
    font-size: var(--font-size-small);

    border-radius: var(--radius-small);
    background-color: var(--active-color);
    color: white;
    padding: calc(var(--space-small) / 2) var(--space-small);
}

.task-item .due-date{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi);
    border-radius: var(--radius-small);
    border: 1px solid var(--color-neutral-600);
    padding: calc(var(--space-small) / 2) var(--space-small);
}

/* Forms */

dialog{
    position: fixed;

    min-width: min(90%, 700px);
    overflow-x: hidden;
    overflow-y: auto;

    margin: auto;
    padding: var(--space-large);
    border: 2px solid black;
    border-radius: var(--radius-small);

    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);

}

form{
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
}

.form-header{
    font-size: var(--font-size-medium);
    text-align: center;
    border-bottom: 1px solid var(--color-neutral-200);
    padding-bottom: var(--space-small);
}

.form-row{
    display: flex;
    flex-direction: column;

    gap: var(--space-small);
}

label{
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semi);
}

input, select, textarea{
    font-size: var(--font-size-normal);
    border-radius: var(--radius-small);
    padding: var(--space-small);

    outline: none;
    border: 1px solid var(--color-neutral-200);
}

.hidden-element{
    display: none;
}

input:read-only{
    outline: none;
    background: none;
}

input:hover:not(:read-only),
select:hover:not(:read-only),
button:hover:not(:read-only),
textarea:hover:not(:read-only){
    outline: 1px solid var(--color-neutral-600);
}

select:focus:not(:read-only),
select:focus-visible:not(:read-only),
input:focus:not(:read-only),
input:focus-visible:not(:read-only),
textarea:focus:not(:read-only),
textarea:focus-visible:not(:read-only){
    box-shadow: var(--shadow-regular);
}

select, ::picker(select){
    appearance: base-select;
}

option{
    padding: var(--space-small);
}

option + option{
    border-top: 1px solid var(--color-neutral-200);
}

textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

/* Buttons */

button.cta{
    border-radius: var(--radius-small);
}

button.primary{
    background-color: var(--color-accent);
    color: var(--color-neutral-100);
    border: none;
    padding: var(--space-small);
}

button.primary.success{
    background-color: var(--color-success);
}

button.primary.danger{
    background-color: var(--color-danger);
}

button.secondary{
    background: none;
    border: 1px solid var(--color-neutral-200);
    color: var(--color-neutral-900);
}

button.secondary.success{
    color: var(--color-success);
}
button.secondary.danger{
    color: var(--color-danger);
}